<div class="ui visible inverted left vertical sidebar menu">
  <ng-container *ngFor="let menu of model">
    <a
      class="item"
      *ngIf="!menu.routerLink"
      [attr.href]="menu.url || null"
      (click)="menuItemClick($event, menu)"
    >
      <i [class]="menu.iconClass" [ngClass]="{ icon: true }"></i>
      {{ menu.label }}
    </a>
    <a
      class="item"
      *ngIf="menu.routerLink"
      [routerLink]="menu.routerLink"
      (click)="menuItemClick($event, menu)"
    >
      <i [class]="menu.iconClass" [ngClass]="{ icon: true }"></i>
      {{ menu.label }}
    </a>
  </ng-container>
</div>
