<sm-button class="mini primary orange" label="save"></sm-button>
<sm-button class="large orange" label="save"></sm-button>
<sm-button class="large basic orange" label="save"></sm-button>
<sm-button class="basic" [loading]="true" label="save"></sm-button>

<sm-button class="inverted primary" label="save"></sm-button>
<sm-button class="basic primary" label="save"></sm-button>
<sm-button class="basic primary" icon="pause" label="save"></sm-button>
<sm-button icon="arrow" iconPos="right" label="save"></sm-button>
<sm-button icon="pause"></sm-button>
<sm-button class="circular" icon="pause"></sm-button>
