<div class="html ui top attached segment">
  <p>Top Content</p>
  <sm-divider></sm-divider>
  <p>Bottom Content</p>
</div>

<div class="html ui top attached segment">
  <p>Top Content</p>
  <sm-divider label="or"></sm-divider>
  <p>Bottom Content</p>
</div>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Left Content</p>
      <p>Left Content</p>
      <p>Left Content</p>
      <p>Left Content</p>
    </div>
    <div class="column">
      <p>Right Content</p>
      <p>Right Content</p>
      <p>Right Content</p>
      <p>Right Content</p>
    </div>
  </div>

  <sm-divider direction="vertical" label="and"></sm-divider>
</div>

<div class="ui segment">
  <sm-divider iconClass="tag" label="and"></sm-divider>
  <p>
    Doggie treats are good for all times of the year. Proven to be eaten by
    99.9% of all dogs worldwide.
  </p>
</div>

<div class="ui segment">
  <h4 smDivider icon="tag" label="Doggie"></h4>
  <p>
    Doggie treats are good for all times of the year. Proven to be eaten by
    99.9% of all dogs worldwide.
  </p>
</div>
